:root {
    --color-primary: #5ec576;
    --color-primary-darker: #4bbb7d;
  }

body {
    font-family: 'Inter', serif;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.header-img {
    background-image: url(../kepek/header_background.jpg);
    background-size: cover;
    background-position: center;
}

.highlight {
    opacity: 90%;
    padding: 8px;
    background: linear-gradient(to top left, #39b385, #9be15d);
}

.card {
    height: 100%;
}

.card-btn {
    box-shadow: 5px 10px 11px -8px #276873;
    background: var(--color-primary);
    background-color: var(--color-primary);
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: 'Inter', serif;
    font-size: 16px;
    padding: 9px 18px;
    text-decoration: none;
    text-shadow: 2px 2px 1px #3faa6f;
}

.card-btn:hover {
    background: var(--color-primary-darker);
    background-color: var(--color-primary-darker);
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 10px 0.01px black;
}

.myButton {
    box-shadow: 5px 10px 11px -8px #276873;
    background: var(--color-primary);
    background-color: var(--color-primary);
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: 'Inter', serif;
    font-size: 16px;
    padding: 9px 18px;
    text-decoration: none;
    text-shadow: 2px 2px 1px #3faa6f;
}

.myButton:hover {
    background: var(--color-primary-darker);
    background-color: var(--color-primary-darker);
}

footer li {
    display: inline;
    list-style-type: none;
    padding: 10px;
}

footer a {
    text-decoration: none;
    font-family: 'Inter', serif;
}